* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  margin-bottom: 10px;
  padding-bottom: 0;
}

hr {
  width: 75%;
  margin-top: 0;
  margin-bottom: 10px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle !important;

  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 50px;
  background-color: white;

  form {

    width: 100%;
    text-align: center;

    label {
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: large;
      display: block;
    }

    input {
      border-radius: 5px;
      height: 30px;
      width: 75%;
    }

    button {
      margin-top: 20px;
      height: 30px;
      width: 75%;
      background-color: darkseagreen;
      border-radius: 5px;
      cursor: pointer;
    }

    button:disabled {
      margin-top: 20px;
      background-color: lightgray;
      cursor: default;
    }

    span {
      color: red;
    }
  }
}
